<div class="row">
    <div class="col-md-12">
        <img src="" alt="" class="img-responsive">
        <h1>Name</h1>
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle">Manage Recipe</button>
            <ul class="dropdown-menu">
                <li><a href="">Add ingrdients</a></li>
                <li><a href="">Edit</a></li>

            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="co-md-12">
        <p>Description</p>
    </div>
</div>

<div class="ingredients">
    <p>Ingredients</p>
</div>