<div class="row">
    <div class="col">
        <button class="btn btn-primary">New Recipe</button>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div *ngFor="let recipe of recipes; index as i">

            <a id="recipe-{{i}}" href="" class="list-group-item clearfix bg-primary">
                <div class="pull-left">
                    <h4 class="list-group-item-headin">
                        {{recipe.name}}
                    </h4>
                    <p>{{recipe.description}}</p>
                </div>
                <span class="pull-right">
                    <img 
                    [src]="recipe.imagePath"
                    class="img-responsive" 
                    alt="{{recipe.name}}"
                    style="max-height:50px">
                </span>
              
            </a>
        </div>
       
    </div>
</div>


<app-recipe-item></app-recipe-item>